.App {
  padding: 50px 100px;
}

.searchForm input {
  border: 2px solid rgb(53, 53, 221);
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 150px;
  padding-left: 10px;
  font-size: 18px;
}

.searchForm button {
  background-color: rgb(53, 53, 221);
  color: white;
  padding: 12px;
  font-size: 18px;
  border: 0;
}
